<form action="/auth" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username"/><br/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Войти"/>
    </div>
</form>
<div>
    <% if(query && query.loginError) { %>
      <span style="color: red; font-size: 14px;">Не правильные данные для входа</span>
    <% } %>
</div>
<div>
    <a href="/auth/register">У меня нет аккаунта, зарегистрироваться?</a>
</div>